

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	}
	h2{
	padding-left: 8px;
	padding-top: 3px;
	}
	nav{
	background-color:black;
	height:35px;
	width:100%;
	color: lightgray;
	}
	nav ul{
	float: left;
	margin-left:72px;
	margin-top: -20px;
	}
	nav ul li{
	display:inline-block;
	text-align: left;
	float: left;
	}
	a{
	color:white;
	text-decoration: none;
	margin-left: 8px;
	padding-left: 18px;
	}
	.contact input{
	border:2px solid;
	border-radius:4px;
	float:left;
	margin-left:1042px;
	margin-top:-27px;
	height:25px;
	}
	.contact button{
	border-color: green;
	color:green;
	border-radius:4px;
	float:right;
	margin-top:-27px;
	margin-right: 2px;
	height:25px;
	}
	h1{
	margin-left:82px;
	}
	p1{
	margin-left:82px;
	
	}
	p2{
	 margin-left:82px;
	 
	}
	footer{
	margin-left:72px;
	margin-top:223px;
	}
	.info button{
	margin-left:82px;
	height:25px;
	background-color:dodgerblue;
	border:0px solid;
	width:98px;
	border-radius:4px;
	}
	.container{
	background-color:ghostwhite;
	height:223px;
	}
	.contact a{
	color:green;
	}
	.col{
	width: 100%;
	}
	.col article{
	width:24%;
	margin-left:82px;
	float: left;
	}
	.col h1{
	margin-left:0px;
	}
	.col button{
	background-color: gray;
	border:0px solid;
	border-radius:4px;
	}

	@media (min-width: 1281px) {
	


		*{
			margin:0;
			padding:0;
			box-sizing:border-box;
			}
			h2{
			padding-left: 8px;
			padding-top: 3px;
			}
			nav{
			background-color:black;
			height:35px;
			width:100%;
			color: lightgray;
			}
			nav ul{
			float: left;
			margin-left:72px;
			margin-top: -20px;
			}
			nav ul li{
			display:inline-block;
			text-align: left;
			float: left;
			}
			a{
			color:white;
			text-decoration: none;
			margin-left: 8px;
			padding-left: 18px;
			}
			.contact input{
			border:2px solid;
			border-radius:4px;
			float:left;
			margin-left:1051px;
			margin-top:-27px;
			height:25px;
			}
			.contact button{
			border-color: green;
			color:green;
			border-radius:4px;
			float:right;
			margin-top:-27px;
			margin-right: 2px;
			height:25px;
			}
			h1{
			margin-left:82px;
			}
			p1{
			margin-left:82px;
			
			}
			p2{
			 margin-left:82px;
			 
			}
			footer{
			margin-left:72px;
			margin-top:223px;
			}
			.info button{
			margin-left:82px;
			height:25px;
			background-color:dodgerblue;
			border:0px solid;
			width:98px;
			border-radius:4px;
			}
			.container{
			background-color:ghostwhite;
			height:223px;
			}
			.contact a{
			color:green;
			}
			.col{
			width: 100%;
			}
			.col article{
			width:24%;
			margin-left:82px;
			float: left;
			}
			.col h1{
			margin-left:0px;
			}
			.col button{
			background-color: gray;
			border:0px solid;
			border-radius:4px;
			}
		}
		@media (min-width: 1025px) and (max-width: 1278px) {
	  
			
			*{
				margin:0;
				padding:0;
				box-sizing:border-box;
				}
				h2{
				padding-left: 8px;
				padding-top: 3px;
				}
				nav{
				background-color:black;
				height:35px;
				width:100%;
				color: lightgray;
				}
				nav ul{
				float: left;
				margin-left:72px;
				margin-top: -20px;
				}
				nav ul li{
				display:inline-block;
				text-align: left;
				float: left;
				}
				a{
				color:white;
				text-decoration: none;
				margin-left: 8px;
				padding-left: 18px;
				}
				.contact input{
				border:2px solid;
				border-radius:4px;
				float:left;
				margin-left:788px;
				margin-top:-27px;
				height:25px;
				}
				.contact button{
				border-color: green;
				color:green;
				border-radius:4px;
				float:right;
				margin-top:-27px;
				margin-right: 2px;
				height:25px;
				}
				h1{
				margin-left:82px;
				}
				p1{
				margin-left:82px;
				display: inline-block;
				}
				p2{
				 margin-left:82px;
				 
				}
				footer{
				margin-left:72px;
				margin-top:223px;
				}
				.info button{
				margin-left:82px;
				height:25px;
				background-color:dodgerblue;
				border:0px solid;
				width:98px;
				border-radius:4px;
				}
				.container{
				background-color:ghostwhite;
				height:223px;
				}
				.contact a{
				color:green;
				}
				.col{
				width: 100%;
				}
				.col article{
				width:24%;
				margin-left:82px;
				float: left;
				}
				.col h1{
				margin-left:0px;
				}
				.col button{
				background-color: gray;
				border:0px solid;
				border-radius:4px;
				}
		  }
		  @media (min-width: 768px) and (max-width: 1024px) {
	  
			
			*{
				margin:0;
				padding:0;
				box-sizing:border-box;
				}
				h2{
				padding-left: 8px;
				padding-top: 3px;
				}
				nav{
				background-color:black;
				height:35px;
				width:100%;
				color: lightgray;
				}
				nav ul{
				float: left;
				margin-left:72px;
				margin-top: -20px;
				}
				nav ul li{
				display:inline-block;
				text-align: left;
				float: left;
				}
				a{
				color:white;
				text-decoration: none;
				margin-left: 8px;
				padding-left: 18px;
				}
				.contact input{
				border:2px solid;
				border-radius:4px;
				float:left;
				margin-left:521px;
				margin-top:-27px;
				height:25px;
				}
				.contact button{
				border-color: green;
				color:green;
				border-radius:4px;
				float:right;
				margin-top:-27px;
				margin-right: 2px;
				height:25px;
				}
				h1{
				margin-left:82px;
				}
				p1{
				margin-left:82px;
				display: inline-block;
				}
				p2{
				 margin-left:82px;
				 
				}
				footer{
				margin-left:72px;
				margin-top:223px;
				}
				.info button{
				margin-left:82px;
				height:25px;
				background-color:dodgerblue;
				border:0px solid;
				width:98px;
				border-radius:4px;
				}
				.container{
				background-color:ghostwhite;
				height:223px;
				}
				.contact a{
				color:green;
				}
				.col{
				width: 100%;
				}
				.col article{
				width:24%;
				margin-left:82px;
				float: left;
				}
				.col h1{
				margin-left:0px;
				}
				.col button{
				background-color: gray;
				border:0px solid;
				border-radius:4px;
				}
		  }
		  @media (min-width: 481px) and (max-width: 767px) {
	  
			
			*{
				margin:0;
				padding:0;
				box-sizing:border-box;
				}
				h2{
				padding-left: 2px;
				padding-top: 3px;
				}
				nav{
				background-color:black;
				height:35px;
				width:100%;
				color: lightgray;
				}
				nav ul{
				float: left;
				margin-left:72px;
				margin-top: -20px;
				}
				nav ul li{
				display:inline-block;
				text-align: left;
				float: left;
				}
				a{
				color:white;
				text-decoration: none;
				margin-left: 8px;
				padding-left: 8px;
				}
				.contact input{
				border:2px solid;
				border-radius:4px;
				float:left;
				margin-left:343px;
				margin-top:-27px;
				height:25px;
				width: 62px;
				}
				.contact button{
				border-color: green;
				color:green;
				border-radius:4px;
				float:right;
				margin-top:-27px;
				margin-right: 2px;
				height:25px;
				width:62px;
				
				}
				h1{
				margin-left:82px;
				}
				p1{
				margin-left:82px;
				display: inline-block;
				}
				p2{
				 margin-left:82px;
				 
				}
				footer{
				margin-left:72px;
				margin-top:423px;
				}
				.info button{
				margin-left:82px;
				height:25px;
				background-color:dodgerblue;
				border:0px solid;
				width:98px;
				border-radius:4px;
				}
				.container{
				background-color:ghostwhite;
				height:223px;
				}
				.contact a{
				color:green;
				}
				.col{
				width: 100%;
				}
				.col article{
				width:15%;
				margin-left:82px;
				float: left;
				}
				.col h1{
				margin-left:0px;
				}
				.col button{
				background-color: gray;
				border:0px solid;
				border-radius:4px;
				}
		  }
				@media (min-width: 481px) and (max-width: 767px) {
	  
			
					*{
						margin:0;
						padding:0;
						box-sizing:border-box;
						}
						h2{
						padding-left: 2px;
						padding-top: 3px;
						}
						nav{
						background-color:black;
						height:35px;
						width:100%;
						color: lightgray;
						}
						nav ul{
						float: left;
						margin-left:72px;
						margin-top: -20px;
						}
						nav ul li{
						display:inline-block;
						text-align: left;
						float: left;
						}
						a{
						color:white;
						text-decoration: none;
						margin-left: 8px;
						padding-left: 8px;
						}
						.contact input{
						border:2px solid;
						border-radius:4px;
						float:left;
						margin-left:343px;
						margin-top:-27px;
						height:25px;
						width: 62px;
						}
						.contact button{
						border-color: green;
						color:green;
						border-radius:4px;
						float:right;
						margin-top:-27px;
						margin-right: 2px;
						height:25px;
						width:62px;
						
						}
						h1{
						margin-left:82px;
						}
						p1{
						margin-left:82px
						display:inline-block;
						}
						p2{
						 margin-left:82px;
						 
						}
						footer{
						margin-left:72px;
						margin-top:423px;
						}
						.info button{
						margin-left:82px;
						height:25px;
						background-color:dodgerblue;
						border:0px solid;
						width:98px;
						border-radius:4px;
						}
						.container{
						background-color:ghostwhite;
						height:223px;
						}
						.contact a{
						color:green;
						}
						.col{
						width: 100%;
						}
						.col article{
						width:15%;
						margin-left:82px;
						float: left;
						}
						.col h1{
						margin-left:0px;
						}
						.col button{
						background-color: gray;
						border:0px solid;
						border-radius:4px;
						}
				  }